#title{
     margin-bottom: 0;
     padding-bottom: 0;
     padding-left: 1%;
     display: flex;
     justify-content: center;
}

.class_stats{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

}