.nav_bar{

    margin-left: 0;
    padding-left: 0;
    border: 1px solid black;
    width: 100%;
    height: 100px;
    display: flex;
}

.nav_side_bar{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-left: 0;
    padding-left: 0;
    border: 1px solid black;
}

.nav_main_bar{
    flex: 20 0 auto;
    border: 1px solid red;
    margin-right: auto;
    padding-top: 0;
    margin-top: 0;
    display: flex;
}

.nav_main_bar h1{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    flex: 5 0 auto;

}

.nav_main_bar form{

    margin-left: auto;
    margin-top: 0;
    padding-top: 5%;
    display: flex;
}
.nav_link {
    box-sizing: border-box;
    border: 1px solid black;
    margin-right: 0;
    flex: 1 0 auto;
}

.nav_bar a:link{
    text-decoration: none;
}

.nav_bar a:hover{
    color: rgb(77, 0, 0);
    background-color: rgb(233, 251, 255);
}

